.article {
  background-color: #fafafa;
}

.article__inner {
  padding-top: 80px;
  padding-bottom: 80px;
}

.article__heading {
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2d314d;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.article__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.article__item {
  width: 255px;
  background-color: #fff;
}

.article__item-img {
  width: 255px;
  height: 200px;
  margin-bottom: 25px;
}

.article__item-span {
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: #9597a5;
  margin: 0;
  margin-left: 24px;
}

.article__item-heading {
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: #2d314d;
  margin: 8px 24px;
}

.article__item-heading:hover {
  color: #30c88f;
}

.article__item-text {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: #9597a5;
  margin: 0px 24px 24px;
}

@media only screen and (max-width: 1100px) {
  .article__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article__list {
    max-width: 650px;
    flex-wrap: wrap;
  }

  .article__item {
    width: 300px;
    margin-top: 50px;
  }

  .article__item-img {
    width: 300px;
  }

  .article__item-span {
    margin-right: 31px;
    margin-left: 31px;
  }

  .article__item-heading {
    margin-right: 31px;
    margin-left: 31px;
  }

  .article__item-text {
    margin-right: 31px;
    margin-left: 31px;
  }
}

@media only screen and (max-width: 650px) {
  .article__heading {
    margin-bottom: 7px;
  }

  .article__list {
    max-width: 650px;
    flex-direction: column;
  }

  .article__item {
    margin-top: 24px;
  }
}