.hero {
  background-color: #fafafa;
  background-image: url("../../img/hero-phones-desktop.png"), url("../../img/hero-bg-desktop.png");
  background-size: 729px 900px, 1371px 956px;
  background-repeat: no-repeat;
  background-position: calc(50% + 350px) -120px, calc(50% + 585px) -210px;
  z-index: 10;
}

.hero__inner {
  padding-top: 170px;
  padding-bottom: 170px;
}

.hero__content {
  max-width: 447px;
}

.hero__heading {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2d314d;
}

.hero__text {
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: $color;
}

@media only screen and (max-width: 900px) {
  .hero {
    background-size: 327px 402px, 968px 398px;
    background-position: center -120px;
  }

  .hero__inner {
    padding-top: 0;
    padding-bottom: 88px;
  }

  .hero__content {
    padding-top: 322px;
    text-align: center;
  }
}